body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
  }
  
  header {
    background-color: #fcfcfc;
    color: black;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header h1 {
    margin-left: 20px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav ul li {
    margin: 0 15px;
  }
  nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    transition: color 0.3s ease-in-out;
  }
  nav ul li a:hover {
    color: #2ecc71;
  }
  nav ul li a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #2ecc71;
    transition: width 0.3s ease-in-out;
  }
  nav ul li a:hover::before {
    width: 100%;
  }
  
  .hero {
    background-color: #2ecc71;
    color: white;
    padding: 50px;
  }
  .hero img {
    width: 1050px;
    height: auto;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }
  .hero h2 {
    font-size: 2.5rem;
  }
  .hero p {
    font-size: 1.2rem;
    margin: 10px 0;
    text-align: justify;
  }
  .hero button {
    background-color: rgb(19.1811023622, 92.7086614173, 183.8188976378);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  .hero button:hover {
    background-color: rgb(46.2795275591, 129.7677165354, 233.2204724409);
  }
  
  .hero-1 {
    background-color: #2ecc71;
    color: white;
    padding: 50px;
  }
  .hero-1 img {
    width: 750px;
    height: auto;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }
  .hero-1 h2 {
    font-size: 2.5rem;
  }
  .hero-1 p {
    font-size: 1.2rem;
    margin: 10px 0;
    text-align: justify;
  }
  .hero-1 button {
    background-color: rgb(19.1811023622, 92.7086614173, 183.8188976378);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  .hero-1 button:hover {
    background-color: rgb(46.2795275591, 129.7677165354, 233.2204724409);
  }
  
  .vision-mision .container {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: #f9f9f9;
  }
  
  .vision-mision .columna {
    width: 45%;
  }
  
  .vision-mision h3 {
    color: #3498db;
    font-size: 1.8rem;
  }
  
  .vision-mision p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #333;
    text-align: justify;
  }
  
  .container-1 {
    background-color: #cecccc; /* Fondo gris claro */
    padding: 50px 20px;
  }
  
  .servicios .columna {
    width: 45%;
    margin-bottom: 20px;
  }
  
  .servicios h3 {
    color: #3498db;
    font-size: 1.6rem;
  }
  
  .servicios p {
    font-size: 1.1rem;
    color: #333;
  }
  
  .servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
  
  /* Estilos para la sección de contacto */
  .container-2 {
    background-color: #f5f5f5; /* Fondo gris claro */
    padding: 40px;
    border-radius: 10px;
    max-width: 800px;
    margin: 40px auto; /* Centrar el contenedor */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
  
  .container-2 h3 {
    font-size: 2em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .container-2 p {
    font-size: 1.2em;
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .container-2 ul {
    list-style-type: none;
    padding: 0;
    font-size: 1.2em;
  }
  
  .container-2 ul li {
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
  }
  
  .container-2 ul li strong {
    color: #2c3e50; /* Color más oscuro para los detalles */
  }
  
  .container-2 p:last-of-type {
    text-align: center;
    font-style: italic;
  }
  
  .container-4 {
    background-color: #f1f1f1;
    padding: 40px;
    width: 55%;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .container-4 h3 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .container-4 label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .container-4 input, .container-4 textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .container-4 button {
    display: block;
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 4px;
    font-size: 1.2em;
    cursor: pointer;
  }
  
  .container-4 button:hover {
    background-color: #0056b3;
  }
  
  .container-3 {
    background-color: #e4e3e0;
    color: black;
    padding: 40px;
  }
  
  .container-3 h3 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .container-3 p {
    font-size: 1.2em;
    margin-bottom: 15px;
  }
  
  .container-3 ul {
    list-style: none;
    padding: 0;
  }
  
  .container-3 li {
    margin-bottom: 10px;
  }
  
  .container-5 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
    background-color: #f0f4f8; /* Color de fondo suave */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin: 20px 0;
  }
  
  .container-5 .columna {
    width: 48%; /* Divide las dos columnas casi por igual */
  }
  
  .container-5 h3 {
    font-size: 1.5em;
    color: #333; /* Color del texto del título */
    margin-bottom: 15px;
  }
  
  .container-5 p, .container-5 ul {
    font-size: 1.1em;
    color: #555; /* Color del texto del párrafo */
    line-height: 1.6;
  }
  
  .container-5 ul li {
    margin-bottom: 10px; /* Espaciado entre los elementos de la lista */
  }
  
  .container-5 strong {
    color: #007BFF; /* Resaltar las posiciones importantes en azul */
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px;
    background-color: #1874e6; /* Color de fondo para resaltar el contenedor */
  }
  .container .video {
    flex: 0 0 50%; /* Ajusta el ancho al 50% */
    margin-right: 20px;
  }
  .container .video iframe {
    width: 100%;
    height: 400px;
  }
  .container .description {
    flex: 0 0 45%; /* Ajusta el ancho al 50% */
    padding: 20px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }
  .container .description h3 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: black;
  }
  .container .description p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #555;
    text-align: justify;
  }
  
  .image-container {
    background-color: #f4a43c;
    display: flex; /* Utiliza flexbox para crear dos columnas */
    justify-content: space-between; /* Espacio entre las columnas */
    padding: 50px;
  }
  .image-container .image-col {
    flex: 1; /* Toma 1 parte del espacio disponible */
    text-align: center; /* Centra la imagen */
  }
  .image-container .image-col img {
    max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    /* Opcional: aplica bordes redondeados */
  }
  .image-container .text-col {
    flex: 1; /* Toma 1 parte del espacio disponible */
    padding-left: 20px; /* Espacio entre la imagen y el texto */
    padding: 20px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }
  .image-container .text-col h3 {
    font-size: 1.8rem; /* Tamaño del título */
    margin-bottom: 15px; /* Espacio debajo del título */
    color: black; /* Color del título */
  }
  .image-container .text-col p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #555;
    max-width: 920px;
    margin: 0;
    text-align: justify;
  }
  
  .ia-options {
    padding: 40px 20px;
    text-align: center;
    background-color: #f4f4f4;
  }
  .ia-options h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }
  .ia-options .options-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
  }
  .ia-options .option {
    flex: 1;
    max-width: 30%;
    min-width: 250px;
    background-color: white;
    padding: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 10px;
  }
  .ia-options .option img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .ia-options .option p {
    margin-top: 10px;
    font-size: 1.1rem;
    color: #555;
  }
  
  .video-centered {
    padding: 50px 20px;
    text-align: center;
    background-color: #f63636;
  }
  .video-centered h3 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #333;
  }
  .video-centered .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
  }
  .video-centered .video-container iframe {
    max-width: 100%;
    height: 500px;
    width: 797px;
  }
  
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
  }
  footer p {
    margin: 0;
  }
  
  /*# sourceMappingURL=estilos.css.map */
  