body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0bdde8; /* Color de fondo */
    padding: 10px 20px;
    color: white;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar nav ul {
    list-style: none; /* Eliminar los puntos de la lista */
    padding: 0; /* Sin padding */
    margin: 0; /* Sin margin */
    display: flex; /* Para que los elementos estén en línea */
}

.navbar nav ul li {
    margin: 0 15px; /* Espaciado entre elementos de la lista */
}

.navbar nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px; /* Añadir un poco de padding para hacer clic más fácil */
    transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease; /* Transiciones */
    border-radius: 5px; /* Bordes redondeados */
}

.navbar nav ul li a:hover {
    background-color: rgba(10, 189, 186, 0.673); /* Fondo semitransparente al pasar el mouse */
    color: #f2f2f2; /* Color al pasar el mouse */
    transform: scale(1.05); /* Aumenta el tamaño ligeramente al pasar el mouse */
}

.container {
    display: flex;
    padding: 20px;
}

.left-side {
    flex: 1;
    padding-right: 20px;
}

.right-side {
    flex: 1;
    text-align: center;
}

.right-side img {
    max-width: 100%;
    height: auto;
}

.formulario-comentarios {
    display: flex;
    flex-direction: column;
}

.formulario-comentarios label {
    margin-top: 10px;
    font-weight: bold;
}

.formulario-comentarios input, 
.formulario-comentarios textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.formulario-comentarios input[type="checkbox"] {
    margin-top: 15px; /* Margen superior para el checkbox */
}

.formulario-comentarios button {
    margin-top: 15px;
    padding: 10px;
    background-color: #03e9f4; /* Color del botón */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición para el botón */
}

.formulario-comentarios button:hover {
    background-color: #02c4e0; /* Color al pasar el cursor sobre el botón */
}

/* Estilo para el mensaje de advertencia */
.formulario-comentarios p {
    color: red; /* Color de advertencia */
    font-size: 14px;
    margin: 5px 0; /* Espacio alrededor del texto */
}
.container-checkbox {
    display: flex; /* Para alinear checkbox y etiqueta en una línea */
    align-items: center; /* Centra verticalmente el checkbox y la etiqueta */
    margin-top: 15px; /* Espacio superior para el contenedor */
}

.container-checkbox input[type="checkbox"] {
    margin-right: -444px; /* Eliminar margen derecho para que esté pegado a la etiqueta */
}

.container-checkbox input {
    margin-left: -454px; /* Espacio a la izquierda de la etiqueta (opcional) */
}